.container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1250px) {
  .container {
    flex-direction: column;
  }
}

.item {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: 500;
}

.select {
  flex-direction: column;
  align-items: flex-start;
}

.react-aria-Input {
  margin: 0.5rem;
  padding: 0.75rem 0 0.75rem 1rem;
  border-radius: 0.375rem;
  border-color: rgba(0,0,0,.1);
  min-width: 40rem;
  box-shadow: 0px 0px 10px rgba(0 0 0 / 0.1);
  border-width: 1px;
}

@media (max-width: 720px) {
  .react-aria-Input {
    min-width: 25rem;
  }
}

@media (max-width: 480px) {
  .react-aria-Input {
    min-width: 18rem;
  }
}

.react-aria-Input:focus {
  outline: none !important;
  border-color: #282828;
}

.react-aria-Label {
  margin: 0.5rem;
}

.react-aria-Button {
  border: 0;
  background-color: transparent;
  opacity: 0.9;
  margin: 0.2rem 0 0 0;
}

.react-aria-Button .disabled {
  border: 0;
  background-color: transparent;
  opacity: 0.5;
}


