.codeViewer {
  height: 100%;
  padding: 1rem;
  background-color: #1e1e1e;
}

.language {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: rgba(128,128,128, 0.4);
  color: black;
}

@media (prefers-color-scheme: dark) {
  .language {
    color: white;
  }
}

.container {
  margin: 1em;
  min-width: 380px;
}